#game
{
	position: relative;
	width:400px;
	border:1px solid black;
}
#stage
{
	position: relative;
	width:100%;
	height:400px;
}
#startpage
{
	z-index: 100;
}
#infobar
{
	position: relative;
	width:100%;
	height:35px;
}
#infotext
{
	resize: none;
	width: 100%;
	height: 100%;
}
#editor
{
	position: absolute;
	width: 40%;
	height: 94%;
	top: 0;
	right: 0;
	border:1px solid black;
}
#code
{
	resize: none;
	width: 100%;
	height: 100%;
	font-family: monospace;
	font-size: 14px;
	overflow: scroll;
}
.toolbar
{
	width: 100%;
	height: 5%;
}
