({
	appDir: "./",
    baseUrl: "../../",
    dir: "../src-build",
    paths: {
		'teeth': 'teeth/src-build',
		'data/data-AI': 'empty:',
		'data/data-characters': 'empty:',
		'data/data-levels': 'empty:'
	},
	modules: [
        {
            name: "teeth/main-build"
        }
    ],
	//optimize: 'none'
})
