({
	appDir: "./",
    baseUrl: "../../",
    dir: "../src-build",
    paths: {
		'core/css': 'core/css-built',
		'teeth': 'teeth/src-build',
		'teeth/data-levels': 'empty:',
		'teeth/data-characters': 'empty:',
		'teeth/data-AI': 'empty:'
	},
	modules: [
        {
            name: "teeth/main"
        }
    ],
	//optimize: 'none'
})
